<nav class="navbar"></nav>
    <img src="" alt="">
    <ul class="ulnav">
        <li><a href="/">Inicio</a></li>
        <li>
            <form class="inputCart" action="/" method="get">
                <label for="limit">Id del carrito:</label>
                <input type="text" id="cid" name="cid"/>
                <button type="submit">Ver Carrito</button>
            </form>
        </li>
    </ul>